.section__confirmation{
	position: relative;
	padding: 100px 0 110px 0;
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: -webkit-radial-gradient(closest-side, rgba(0,141,208,1) 0, rgba(13,105,176,1) 100%);
	background: -moz-radial-gradient(closest-side, rgba(0,141,208,1) 0, rgba(13,105,176,1) 100%);
	background: radial-gradient(closest-side, rgba(0,141,208,1) 0, rgba(13,105,176,1) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;

	&:after{
		content: "";
		display: block;
		background: url(/img/clouds-left.png)no-repeat;
		width: 252px;
		height: 105px;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&:before{
		content: "";
		display: block;
		background: url(/img/clouds-right.png)no-repeat;
		width: 445px;
		height: 180px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.confirmation__title{
	font-family: 'Dusha', 'Arial', sans-serif;
	font-size: 36px;
	color: #d9d4c5;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 18px;

	&__text{
		font-size: 14px;
		color: #fff;
		text-align: left;
	}
}

.form__code{
	position: relative;
	margin-top: 45px;

	&__input{
		width: 100%;
		margin-bottom: 20px;
		border-radius: 10px;
		border:none;
		padding: 9px 0 9px 13px;
		font-size: 16px;
		color: #000;
	}

	&__send{
		background: url(/img/btn-send-bg.png)no-repeat;
		width: 189px;
		height: 44px;
		font-size: 14px;
		color: #0189cd;
		line-height: 44px;
		border: none;
		display: block;
		float: right;
	}
}


.confirmation__hidden{
	position: relative;
	padding: 100px 0;
	margin: 100px 0;
}

.feedback__form{
	position: relative;
	@include clearfix;

	&__label{
		display: block;
		text-align: left;
		font-size: 12px;
		color: #ffffff;
		margin-bottom: 7px;
	}
	&__input{
		display: block;
		width: 100%;
		font-size: 16px;
		color: #000000;
		margin-bottom: 20px;
		border-radius: 10px;
		border:none;
		padding: 9px 0 9px 9px;
	}

	&__send{
		font-size: 16px;
		color: #ababab;
		text-align: center;
		border: none;
		background-position: -10px -202px;
		width: 189px;
		height: 45px;
		line-height: 41px;
		background-color: transparent;
		&:hover{
			width: 189px;
			height: 45px;
			background-position: -10px -266px;
			line-height: 41px;
			color: #000000;
		}
	}
}

.feedback__country{
	font-size: 14px;
	color: #fff;
	text-align: left;
	&__selected{
		font-size: 16px;
		color: #fff;
		text-align: left;
		margin-top: 15px;
	}
}

.feedback__form__input::-webkit-input-placeholder {color: #968c83; font-size: 12px; }
.feedback__form__input::-moz-placeholder          {color: #968c83; font-size: 12px; }
.feedback__form__input:-moz-placeholder           {color: #968c83; font-size: 12px; }
.feedback__form__input:-ms-input-placeholder      {color: #968c83; font-size: 12px; }

::-webkit-input-placeholder {color: #968c83; font-size: 16px; }
::-moz-placeholder          {color: #968c83; font-size: 16px; }
:-moz-placeholder           {color: #968c83; font-size: 16px; }
:-ms-input-placeholder      {color: #968c83; font-size: 16px; }


.feedback__checkbox{
	position: relative;
	@include clearfix;
	margin-top: 15px;

	&__item{
		display: block;
		float: left;
		margin-right: 15px;
	}

	&__text{
		font-size: 11px;
		color: #fff;
		line-height: 12px;
	}

	&__link{
		color: #d7d2c3;
		font-size: 11px;
		text-decoration: underline;
		&:hover{
			color: #d7d2c3;
			text-decoration: none;
		}
	}
}
