.section__contacts{
	background: #fff;
	padding: 100px 0 85px 0;
}

.contacts{
	position: relative;
	text-align: left;

	&__title{
		font-family: 'Dusha', 'Arial', sans-serif;
		font-size: 36px;
		color: #000;
		line-height: 1.2;
		text-align: left;
		margin-bottom: 18px;
	}

	&__text{
		font-size: 14px;
		color: #000;
		margin-bottom: 16px;
	}

	&__mail{
		&__link{
			font-size: 18px;
			color: #008dd0;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.faq{
	background: -webkit-radial-gradient(closest-side, rgba(196,22,28,1) 0, rgba(180,0,4,1) 100%);
	background: -moz-radial-gradient(closest-side, rgba(196,22,28,1) 0, rgba(180,0,4,1) 100%);
	background: radial-gradient(closest-side, rgba(196,22,28,1) 0, rgba(180,0,4,1) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
	position: relative;
	padding: 17px 10px 1px 10px;
	height: 226px;

	&:after{
		content: "";
		display: block;
		background: url(/img/contacts-die-left.png)no-repeat;
		width: 94px;
		height: 226px;
		position: absolute;
		top: 0;
		left: -70px;
	}
	&:before{
		content: "";
		display: block;
		background: url(/img/contacts-die-right.png)no-repeat;
		width: 94px;
		height: 226px;
		position: absolute;
		top: 0;
		right: -70px;
	}
}

.faq__line{
	position: relative;
	margin-bottom: 20px;
	@include clearfix;
}
.faq__left{
	float: left;
	&__img{
		width: 46px;
		height: 46px;
		fill:#d7d2c3;
		stroke: #d7d2c3;
		margin-right: 25px;
	}
}

.faq__right{
	float: left;
	margin-top: 12px;

	&__link{
			float: right;
			font-size: 16px;
			color: #d7d2c3;
			text-decoration: underline;
			&:hover{
				color: #d7d2c3;
				text-decoration: none;
			}
		}
}

.line{
	background: url(/img/line-bg.png)repeat-x;
	height: 7px;
	width: 100%;
}