.footer{
	flex: 0 0 auto;
	position: relative;
	padding: 80px 0 60px 0;
	text-align: left;

}


.footer__text{
	font-size: 12px;
	color: $footerText;
	text-align: left;
	&__link{
		font-size: 12px;
		color: $footerLink;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

.ulmart__footer{
	position: relative;
	@include clearfix;
	height: 100px;
	&__logo{
		display: block;
		position: absolute;
		bottom: -6px;
	}
}
