//DEFAULT STYLE//
.top__line{
	position: relative;
}

.middle__line{
	position: relative;
	margin-bottom: 122px;
}

.header{
	position: relative;
	background: url(/img/header-bg.jpg) no-repeat top center;
	height: 880px;
}

.header__banner{
	display: block;
	margin: 0 auto;
}

.header__title{
	font-size: 66px;
	color:#fff;
	font-weight: bold;
	text-transform: uppercase;
}

.title{
	font-family: 'Dusha', 'Arial', sans-serif;
	font-size: em($h1FZ);
	color: #fff;
	text-align: left;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 23px;
	font-weight: normal;
}

.title__desc{
	font-size: em($h1desc);
}

.sub__title{
	font-family: 'Arial', sans-serif;
	font-size: em($h5FZ);
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.ulmart__text{
	font-size: 12px;
	color: #d7d2c3;
	text-align: left;
	padding-top: 37px;
	padding-bottom: 61px;
}

.ulmart__logo{
		display: block;
		margin-top: 60px;
		@include MQ(sm) {
			margin-left: 10px;
		}
		@include MQ(xs) {
			display: block;
			float: none;
			text-align: center;
			margin-left: 0;
		}
}

.hospitality__logo{
	display: inline-block;
	margin: 32px 0 25px 0
}

.btn__begin{
	font-size: 14px;
	color: #000;
	text-align: center;
	width: 286px;
	height: 44px;
	background-position: -10px -10px;
	border: none;
	line-height: 44px;
	&:hover{
		color: #000;
		text-decoration: none;
		background-position: -10px -74px;
	}
}

.nav{
	position: relative;
	&__list{
		position: relative;
		text-align: left;
		list-style: none;
	}
	&__item{
		display: block;
		line-height: 0.9;
		margin-bottom: 15px;

		&:first-of-type {

			.nav__link {

				&:before {
					display: block;
					width: 70px;
				}
			}
		}
	}
	&__link{
		font-size: 12px;
		color: #fff;
		display: inline-block;
		position: relative;
		transition: all 5s;

		&:before {
			border-bottom: 1px solid #fff;
			content: '';
			display: none;
			width: 35px;
			position: absolute;
			left: -85px;
			top: 5px;
			transition: all 5s;
		}

		&:hover{
			color: #d7d2c3;
			text-decoration: none;
			transition: all 5s;

			&:before {
				display: block;
				width: 70px;
				transition: all 5s;
				animation: left-to-right 1s 1;
			}
		}
	}
}

.advantages__item{
	position: relative;
	@include clearfix;
	&__img{
		display: block;
		float: left;
		margin-right: 25px;
	}
	&__text{
		font-size: 14px;
		color: #d7d2c3;
		text-align: left;
		float: left;
		margin-top: 10px;
	}
}

.mouse__img{
	width: 12px;
	height: 18px;
	fill: #d7d2c3;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0px;

	animation: jump 2s infinite;
}



@keyframes jump {
		0% {
				bottom: 0px;
		}
		10%{
			bottom: 5px;
		}
		20% {
				bottom: 10px;
		}
		30% {
				bottom: 15px;
		}
		40% {
				bottom: 20px;
		}
		50%{
				bottom: 25px;
		}
		60% {
				bottom: 20px;
		}
		70% {
				bottom: 15px;
		}
		80% {
				bottom: 10px;
		}
		90% {
				bottom: 5px;
		}
		100% {
				bottom: 0px;
		}
}

@keyframes left-to-right {
		0% {
				width: 35px;
		}
		10%{
				width: 40px;
		}
		20% {
				width: 45px;
		}
		30% {
				width: 50px;
		}
		40% {
				width: 55px;
		}
		50%{
				width: 60px;
		}
		60% {
				width: 65px;
		}
		70% {
				width: 70px;
		}
}