.section__match{
	background: #d7d2c3;
	padding: 143px 0 55px 0;
}

.match__title{
	font-family: 'Dusha', 'Arial', sans-serif;
	font-size: em($h2FZ);
	color: #000000;
	line-height: 1;
	margin: 0 0 48px 0;
	text-align: left;
}

.stage{
	width: 169px;
	height: 48px;
	background: url(/img/stage-bg.png) top center no-repeat;
	font-size: 18px;
	color: #ffffff;
	line-height: 48px;
	text-align: center;
	margin-bottom: 30px;
}

.card__wrapper{
	position: relative;
	background: #f1ece4;
	border-radius: 10px;
	margin-bottom: 47px;
}

.card{
	position: relative;
	@include clearfix;
	padding: 11px 17px 0px 17px;

	&__clarification{
		font-size: 16px;
		color: #000;
		text-align: left;
		margin-top: 47px;
	}

	&__left{
		position: relative;
		float: left;
		text-align: left;
		padding-right: 15px;
		&:after{
			content: "";
			display: block;
			width: 5px;
			height: 71px;
			background: url(/img/border-card.png)no-repeat;
			position: absolute;
			top: 8px;
			right: 0;
		}

		&__day{
			font-family: 'Dusha', 'Arial', sans-serif;
			font-size: em($h2FZ);
			color: #000;
			line-height: 1;
		}
		&__month{
			font-size: 18px;
			color: #000;
			text-align: center;
		}
	}

	&__right{
		position: relative;
		float: left;
		padding: 8px 11px;
		@include clearfix;

		.rival__left{
			position: relative;
			float: left;
			font-size: 18px;
			color: #000003;

			.rival__img{
				float: left;
				margin-right: 12px;
			}

			.rival__name {
				float: left;
				line-height: 41px;
			}
		}

		.vs{
			float: left;
			font-size: 14px;
			color: #968c83;
			margin: 0 19px;
			line-height: 41px;
		}

		.rival__right{
			position: relative;
			float: left;
			font-size: 18px;
			color: #000003;

			.rival__img{
				float: left;
				margin-right: 12px;
			}

			.rival__name {
				float: left;
				line-height: 41px;
			}
		}
	}
}

.card__place{
	float: left;
	font-size: 12px;
	color: #9a9086;
	@include clearfix;
	line-height: 12px;
	padding: 8px 11px;

	&__city{
		position: relative;
		margin-right: 40px;
		padding-left: 16px;
		float: left;

		&:after{
			content: "";
			display: block;
			width: 10px;
			height: 12px;
			background: url(/img/city-icon.png)no-repeat;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__stadium{
		position: relative;
		margin-right: 40px;
		padding-left: 16px;
		float: left;

		&:after{
			content: "";
			display: block;
			width: 13px;
			height: 10px;
			background: url(/img/stadium-icon.png)no-repeat;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__time{
		position: relative;
		margin-right: 25px;
		padding-left: 15px;
		float: left;

		&:after{
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background: url(/img/time-icon.png)no-repeat;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.card__btn__wrappper{
	position: relative;
	float: left;
	top: 28px;
	left: 24px;
	@include clearfix;

	.btn__more{
		font-size: 14px;
		color: #b8b2a1;
		text-align: center;
		width: 189px;
    height: 50px;
    background-position: -10px -468px;
		border: none;
		line-height: 44px;
		float: left;
		margin-right: 10px;
		&:hover{
			color: #968c83;
			text-decoration: none;
			background-position: -10px -538px;
		}
	}

	.btn__buy{
		float: left;
	}
}