.section__package{
	background: #fff;
	padding: 167px 0 123px 0;
	&__desc{
		position: relative;
		margin-bottom: 100px;
	}
}

h2.package__title{
	font-family: 'Dusha', 'Arial', sans-serif;
	font-size: em($h1FZ);
	color: #c4161c;
	line-height: 1;
	margin: 0 0 30px 0;
	text-align: left;
}

.package__desc{
	font-size: 18px;
	color: #000000;
	text-align: left;
}

.ticket{
	background: url(/img/ticket-bg.png) no-repeat top left;
	min-height: 289px;
	padding: 75px 0 44px 26px;
	text-align: left;
	color: #fff;
	border-radius: 10px;
	background-size: cover;

	&__title{
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 7px;
	}

	&__text{
		font-size: 14px;
		margin-bottom: 35px;
	}

	&__btn{
		width: 186px;
    height: 50px;
    background-position: -10px -330px;
    color: #d7d2c3;
    text-align: center;
    line-height: 46px;
    font-size: 15px;
    &:hover{
    	text-decoration: none;
    	color: #fff;
    	background-position: -10px -400px;
    }
	}

	&__item{
		position: relative;
		text-align: left;

		&__img{
			width: 90px;
			height: 80px;
			text-align: left;
			margin-top: 13px;
			fill:#d7d2c3;
			stroke: #d7d2c3;
		}

		&__title{
			font-size: 21px;
			font-weight: bold;
			color: #000003;
			margin-bottom: 5px;
		}

		&__text{
			font-size: 12px;
			color: #3b3b3b;
		}
	}
}

.nav__line{
	min-height: 81px;
	border-bottom: 1px solid #d7d2c3;
	margin-bottom: 85px;
	position: fixed;
	z-index: 100;
	background: #fff;
	width: 100%;
}

.ulmart__logo__nav{
	display: block;
	line-height: 81px;
}

.main__nav{
	position: relative;

	&__list{
		@include clearfix;
		margin-top: 23px;
	}
	&__item{
		list-style: none;
		margin: 0 20px;
		display: block;
		height: 36px;
		line-height: 36px;
		display: block;
		float: left;
		width: 200px;
		text-align: center;
		// &:last-child{
		// 	margin-right: 0;
		// }
	}
	&__link{
		font-size: 16px;
		color: #000003;
		text-align: center;
		// height: 36px;
		&:hover{
			color: #000003;
		}
	}
	&__link.active{
		background: url(/img/nav-active-bg.png)no-repeat;
		height: 36px;
		display: block;
		line-height: 36px;
	}
}