.popup__confirmation {
		width: 35%;
		background: #fff;
		background-size: cover;
		top: 45%;
		left: 40%;
		margin-top: -150px;
		margin-left: -150px;
		opacity: 0;
		z-index: 2000000;
		height: 420px !important;
}

.popup__confirmation .popup_close {
		position: relative;
		float: left;
		top: 0;
		left: 15px;
		cursor: pointer;
		display: block;
		z-index: 10;
		width: 0;
		height: 0;
		font-size: 14px;
}

.modal__wrapper {
		position: relative;
		//padding: 0 40px;
}

.overlay {
		opacity: .8;
		-moz-opacity: .8;
		width: 100%;
}

.popup__confirmation, .overlay {
		position: fixed;
		display: none;
		height: 100%;
}

.overlay{
		z-index: 300;
		background-color: rgba(0,0,0,.8);;
		filter: alpha(opacity=80);
		top: 0;
		left: 0;
		cursor: pointer;
}


.popup__confirmation .popup_close {
		position: relative;
		right: 40px;
		top: 20px;
		cursor: pointer;
		display: block;
		z-index: 10;
		width: 0;
		height: 0;
}

.popup__confirmation .popup_close:before, {
		content: "";
		display: block;
		width: 18px;
		height: 18px;
		background: url(https://fast.ulmart.ru/ns/verstka/more_love/img/close-modal.png) no-repeat;
		top: 15px;
		right: 15px;
		float: left;
		margin-right: 10px;
}


.popup__confirmation{
	background-color: #fff;
}

.popup__wrapper{
	position: relative;
	text-align: center;
	margin: 60px 15px 60px 15px;
	padding: 55px 15px 35px 15px;
	background: #f1ece4;
	border-radius: 6px;
	@include clearfix;
	.popup__title{
		font-family: 'Dusha', 'Arial', sans-serif;
		font-size: em($h4FZ);
		color: #000;
	}
	.popup__text{
		font-size: 16px;
		color: #000;
		margin-bottom: 88px;
		&__span{
			font-weight: bold;
		}
		&__link{
			color: #008dd0;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.popup__btn{
		float: right;
	}
}