.slide {
		width: 48%;
		background: #fff;
		background-size: cover;
		top: 45%;
		right: -45%;
		margin-top: -150px;
		margin-left: -150px;
		opacity: 0;
		z-index: 2000000;
		height: 1030px !important;
		overflow-y: scroll;
}

.slide .popup_close {
		position: relative;
		float: left;
		top: 0;
		left: 15px;
		cursor: pointer;
		display: block;
		z-index: 10;
		width: 0;
		height: 0;
		font-size: 14px;
}

.modal__wrapper {
		position: relative;
		//padding: 0 40px;
}

.overlay {
		opacity: .8;
		-moz-opacity: .8;
		width: 100%;
}

.slide, .overlay {
		position: absolute;
		display: none;
		height: 100%;
}

.overlay{
		z-index: 300;
		background-color: rgba(0,0,0,.8);;
		filter: alpha(opacity=80);
		top: 0;
		left: 0;
		cursor: pointer;
}


.slide .popup_close {
		position: relative;
		right: 40px;
		top: 20px;
		cursor: pointer;
		display: block;
		z-index: 10;
		width: 0;
		height: 0;
}

.slide .popup_close:before, {
		content: "";
		display: block;
		width: 18px;
		height: 18px;
		background: url(https://fast.ulmart.ru/ns/verstka/more_love/img/close-modal.png) no-repeat;
		top: 15px;
		right: 15px;
		float: left;
		margin-right: 10px;
}

.slide{
	background-color: #fff;
}

.slide__wrapper{
	position: relative;
	margin: 60px 40px 60px 0px;
	padding: 0px 15px 35px 15px;
}
.slide__stadium{
	background: #f1ece4;
	border-radius: 6px;
	padding-top: 10px;
	margin-bottom: 20px;
	@include clearfix;

	&__left{
		float: left;
		position: relative;
	}
	&__right{
		float: left;
		margin-top: 10px;
		
	}
}

.slide__stadium__match{
	@include clearfix;
	margin-bottom: 25px;

	.slide__match__left{
		float: left;
		@include clearfix;
		position: relative;
	}
	.slide__match__vs{
		float: left;
		font-size: 16px;
		line-height: 36px;
		color: #000;
		margin: 0 20px;
	}
	.slide__match__right{
		float: left;
		@include clearfix;
	}
}

.slide__match{
	float: left;
	margin-right: 10px;
}

.slide__match__img{
	float: left;
	margin-right: 10px;
}

.slide__compass{
	width: 35px;
	height: 35px;
	fill:#968c83;
	stroke: #968c83;
	margin-right: 25px;
	position: absolute;
	bottom: 40px;
	right: -10px;
	margin: 0;
	transform: rotate(-90deg);
}

.slide__match__name{
	float: left;
	font-family: 'Dusha', 'Arial', sans-serif;
	font-size: em($h4FZ);
	color: #000;
}

.slide__stadium__place{
	margin-bottom: 35px;
	border: 1px solid #aaa299;
	border-radius: 6px;
	@include clearfix;
	height: 55px;
}

.stadium__place__left{
	float: left;
	text-align: center;
	color: #000;
	padding: 0 30px;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 5px;
		height: 43px;
		background: url(/img/stadium-place-after.png)no-repeat;
		position: absolute;
		right: 0;
		top: 5px;
	}

	.stadium__date{
		font-family: 'Dusha', 'Arial', sans-serif;
		font-size: 36px;
		line-height: 1;
	}
	.stadium__month{
		font-size: 14px;
		line-height: 1;
	}
}

.stadium__place__middlle{
	float: left;
	text-align: center;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 5px;
		height: 43px;
		background: url(/img/stadium-place-after.png)no-repeat;
		position: absolute;
		right: 0;
		top: 5px;
	}

	.stadium__time{
		font-size: 14px;
		color: #000;
		position: relative;
		line-height: 55px;
		padding: 0 25px;
		&:after{
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background: url(/img/time-icon.png) no-repeat;
			position: absolute;
			top: 22px;
			left: 10px;
		}
	}
}

.stadium__place__right{
	float: left;
	position: relative;
	padding: 5px 40px 10px 40px;
	font-size: 14px;
	color: #000;

	&:after{
		content: "";
		display: block;
		width: 10px;
		height: 12px;
		background: url(/img/city-icon.png) no-repeat;
		position: absolute;
		left: 20px;
		top: 20px;
	}
}

.slide__place__desc{
	font-size: 14px;
	color: #968c83;
	margin-bottom: 10px;
}

.slide__place__bed{
	font-size: 16px;
	color: #000000;
	padding-left: 23px;
	position: relative;
	margin-bottom: 40px;
	&:after{
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		background-color: #c4161c;
		border-radius: 50%;
		position: absolute;
		top: 4px;
		left: 0;

	}
}

.slide__btn{
	float: right;
	position: relative;
	&:after{
		content: "*";
		display: block;
		color: #b5191e;
		position: absolute;
		font-size: 24px;
		right: -9px;
    top: -14px;
	}
}

.slide__stadium__body{
	position: relative;
	@include clearfix;
}

.slide__attention {
	font-size: 12px;
	color: #b5191e;
	line-height: 16px;
	margin-bottom: 30px;
	span{
		padding-right: 5px;
	}
}

.slide__line{
	position: relative;
	@include clearfix;
	margin-bottom: 20px;

	&__left{
		float: left;
		width: 110px;
	}

	&__right{
		margin-left: 120px;
		text-align: left;
	}

	&__title{
		font-size: 24px;
		line-height: 1;
		color: #000;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__category{
		font-size: 16px;
		color: #968c83;
		margin-bottom: 10px;
	}

	&__list{
		position: relative;
		margin-bottom: 20px;
	}

	&__item{
		list-style-type:disc;
		font-size: 15px;
		color: #000000;
		line-height: 22px;
		margin-left: 15px;
	}

	&__desc{
		font-size: 12px;
		color: #968c83;
		margin-bottom: 20px;
	}

	&__text{
		font-size: 14px;
		color: #000000;
		line-height: 18px;
	}

	&__link{
		font-size: 14px;
		color: #008dd0;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}

	&__icon{
		width: 60px;
		height: 60px;
		fill:#d7d2c3;
		stroke: #d7d2c3;
		display: block;
		margin: 0 auto;
	}
}
