@font-face {
		font-family: 'Dusha';
		src: url('../fonts/dusha-regular-webfont.eot');
		src: url('../fonts/dusha-regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/dusha-regular-webfont.woff2') format('woff2'),
				 url('../fonts/dusha-regular-webfont.woff') format('woff'),
				 url('../fonts/dusha-regular-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

}