/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {
	.advantages__item__img{
		margin-right: 10px;
	}
	.ulmart__logo{
		float: right;
	}
	.middle__line {
		margin-bottom: 80px;
	}
	.main__nav__item{
		margin: 0;
	}
	.slide__wrapper{
		margin: 60px 0;
	}
	.slide{
		width: 67%;
	}
	// .slide__stadium__left{
	// 	float: none;
	// 	text-align: center;
	// }
	// .slide__compass{
	// 	right: 0;
	// }
	// .slide__stadium__right{
	// 	float: none;
	// 	padding: 0 30px;
	// }
}

@media (min-width: 1200px) and (max-width: 1600px){
	.card__place{
		width: 75%;
	}
	.card__place__city, .card__place__stadium{
		margin-right: 25px;
	}
	.faq__left__img{
		margin-right: 15px;
	}
	.popup__wrapper .popup__text{
		font-size: 14px;
	}
	.title{
		font-size: 44px;
	}
}

@media (min-width: 1600px) and (max-width: 1700px){
	.card__place{
		padding: 8px;
		.card__place__stadium{
			margin-right: 25px;
		}
	}
	.card__right .rival__right, .card__right .rival__left{
		font-size: 14px;
	}
	.card__right .rival__left .rival__img, .card__right .rival__right .rival__img{
		margin-right: 7px;
	}
	.card__right{
		padding: 8px;
	}
	.card__place__city, .card__place__stadium{
		margin-right: 10px;
	}
	.card__btn__wrappper{
		left: 0;
		.btn__more{
			margin-right: 5px;
		}
	}
	.slide{
		width: 55%;
	}
}

@media only screen and (max-width : 1450px){
	width: 66%;
}

@media only screen and (max-width : 1200px) {
	.middle__line{
		margin-bottom: 20px;
	}
	.advantages__item{
		margin-bottom: 20px;
	}
	.mouse__img{
		display: none;
	}
	.slide{
		width: 80%;
	}
	.advantages__item__img{
		float: none;
	}
	.advantages__item__text{
		font-size: 14px;
	}
	.middle__line{
		margin-bottom: 60px;
	}
	.card__right .rival__left, .card__right .rival__right{
		font-size: 24px;
	}
	.card__place{
		font-size: 18px;
		padding: 15px;
	}
	.section__contacts{
		padding: 60px 0;
	}
	.contacts{
		margin-bottom: 40px;
	}
	.contacts__text{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.footer{
		padding: 40px 0;
	}
	.section__package{
		padding: 60px 0 123px;
	}
	.section__match{
		padding: 60px 0 55px
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.slide{
		width: 100%;
	}
	.nav{
		display: none;
	}
	.nav__line{
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

@media only screen and (max-width : 600px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.bottom__line{
		display: none;
	}
	.title{
		font-size: 44px;
	}
	.sub__title{
		font-size: 14px;
	}
	.ulmart__logo{
		margin-top: 35px;
	}
	.header{
		height: 800px;
	}
	h2.package__title, .match__title{
		font-size: 44px;
	}
	.package__desc{
		font-size: 14px;
	}
	.section__package__desc{
		margin-bottom: 50px;
	}
	.ticket{
		padding: 30px 0 30px 25px;
		min-height: 240px;
	}
	.ticket__item{
		margin-bottom: 20px;
	}
	.card__left{
		float: none;
	}
	.card__left__day{
		font-size: 2em;
		float: left;
		margin-right: 5px;
	}
	.card__left__month{
		font-size: 24px;
		margin-top: 0;
		margin-left: 10px;
	}
	.card__right .rival__left, .card__right .rival__right{
		font-size: 14px;
	}
	.card__right .rival__left .rival__img{
		float: left;
		margin-right: 12px;
	}
	.card__right .vs{
		margin: 0 15px;
	}
	.card__right{
		padding: 5px;
		margin-bottom: 15px;
	}
	.card__place__city, .card__place__stadium{
		margin-right: 9px;
	}
	.card__place{
		font-size: 11px;
		padding: 15px;
		float: none;
	}
	.card__btn__wrappper{
		top: 0;
		left: 60px;
	}
	.card__left:after{
		display: none;
	}
	.card__left__month{
		text-align: left;
	}
	.card__right{
		float: none;
	}
	.card__right {
    padding: 5px;
    margin-bottom: 0px;
	}
	.faq__left__img{
		margin-right: 10px;
	}
	.faq__right__link{
		font-size: 16px;
	}
	.card__wrapper{
		margin-bottom: 15px;
	}
	.stage{
		margin-bottom: 15px;
	}
	.card__clarification{
		margin-top: 10px;
	}
	.section__match{
		padding: 60px 0 25px;
	}
	.section__package{
		padding: 60px 0 60px;
	}
	.faq__left{
		float: none;
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1600px) {

}
