.sprite-btn-bg {
    background-image: url(/img/spritesheet-btn-bg.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-begin-bg {
    width: 286px;
    height: 44px;
    background-position: -10px -10px;
}

.sprite-begin-bg-hover {
    width: 286px;
    height: 44px;
    background-position: -10px -74px;
}

.sprite-code-bg {
    width: 189px;
    height: 44px;
    background-position: -10px -138px;
}

.sprite-issue-bg {
    width: 189px;
    height: 44px;
    background-position: -10px -202px;
}

.sprite-issue-bg-hover {
    width: 189px;
    height: 44px;
    background-position: -10px -266px;
}

.sprite-match-bg {
    width: 186px;
    height: 50px;
    background-position: -10px -330px;
}

.sprite-match-bg-hover {
    width: 186px;
    height: 48px;
    background-position: -10px -400px;
}

.sprite-more-bg {
    width: 189px;
    height: 50px;
    background-position: -10px -468px;
}

.sprite-more-bg-hover {
    width: 189px;
    height: 50px;
    background-position: -10px -538px;
}
