/**** BASE ****/
$bodyFZ:16px;
$bodyLH:1.5;
$h1FZ:63;
$h2FZ:56;
$h3FZ:32;
$h4FZ:24;
$h5FZ:18;
$h6FZ:18;
$h7FZ:14;
$h8FZ:12;
$h1desc:20;
$h2desc:18;

/*Media*/
$lg:1200px;
$md:992px;
$sm:768px;
$sm-xs:600px;
$xs:480px;


/**** BG-COLOR ****/


/**** COLOR ****/
$footerText:#999999;
$footerLink: #008dd0;
